name: app_qrcode_scanner
description: QRCode Scanner with camera scanner and photo scanner function. Available in both Android and iOS Device. Forked from qr_code_scanner
version: 1.0.0
homepage: https://www.goldhub.hk

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^0.8.5+3
  qr_code_tools:
    git:
      url: https://github.com/PabloPessotto/qr_code_tools.git
      ref: master

dev_dependencies: 
  pedantic: ^1.11.1

flutter:
  plugin:
    platforms:
      android:
        package: net.touchcapture.qr.flutterqr
        pluginClass: FlutterQrPlugin
      ios:
        pluginClass: FlutterQrPlugin
